.highlight-yellow {
    background-color: #ffff00;
}
.highlight-orange {
    background-color: #ff6600;
}
.highlight-green {
    background-color: #00cc00;
}
.highlight-blue {
    background-color: #0099ff;
}